@import '../abstract/_variaveis'
.total-precos
    width: 325px
    max-width: 325px
    background-color: $cor-salmao
    text-align: center
    font-family: $fonte-terciaria
    display: flex
    flex-direction: column
    padding: 1em
    box-shadow: 2px 2px 5px black
    h3
        font-family: $fonte-secundaria
        font-size: 2em
    .total-precos-final
        font-size: 1.5em
        font-weight: 600
        background-color: #fca624
        padding: .4em
        box-shadow: 0 0 3px black
