@import '../abstract/_variaveis'
.total-precos
    width: 325px
    max-width: 325px
    background-color: $cor-salmao
    display: flex
    flex-direction: column
    align-items: center
    padding: 1em
    font-family: $fonte-terciaria
    margin-bottom: 3em
    h3
        font-size: 2.3em
        font-weight: 400
        font-family: $fonte-primaria
    ul
        width: 100%
        list-style: none
        font-weight: 200
        display: flex
        flex-direction: column
        row-gap: .3em
        h2
            margin: .5em 0
        li
            display: flex
            font-size: 1.3em
            gap: .5em
    .total-precos-final
        width: 100%
        font-size: 1.6em
        text-align: center
        margin-top: 1em
