@import 'https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bebas+Neue&display=swap'
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'
// cores
$cor-azul-escuro: #000E21
$cor-azul: #071b8d
$cor-branca: #fff
$cor-salmao: #d44949
$cor-salmao-claro: #d67d7d

// fontes
$fonte-primaria: 'Bakbak One', sans-serif
$fonte-secundaria: 'Bebas Neue', sans-serif
$fonte-terciaria: 'Montserrat', sans-serif
